# Sanal Ortam (Virtual Environment)
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Üretilen Veri Dosyaları
*.json

# Streamlit Konfigürasyonu
.streamlit/

# API anahtarını içeren environment dosyası
.env